<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
	<title>HealthPi</title>
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
</head>

<body>