<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
	<title>HealthPi</title>
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
			<form class="navbar-form navbar-right" role="search" method="get" action="/patients">
				<div class="form-group">
					<input type="text" class="form-control" name="q" placeholder="Find Patient">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</nav>
<br/><br/><br/><br/>
	<div class="container">
