<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
	<title>HealthPi</title>
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
</head>

<body>
	<nav style="z-index:0;" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
			<a class="brand pull-left"><img src="/images/logo.png" height="43" style="margin-top:5px;"></a>
			<form class="navbar-form" role="search" method="get" action="/patients">
				<div class="form-group">
					<input type="text" class="form-control" name="q" placeholder="Find Patient">
				</div>
			</form>
		</div>
	</nav>
<br/><br/><br/><br/>
	<div class="container">
