<% include ../header %>

<form type="post" role="form">
    <div class="form-group">
        <input type="text" name="first" placeholder= "First Name" class="form-control"></input>
        <input type="text" name="last" placeholder="Last Name" class="form-control"></input>
        <input type="text" name="bed" placeholder="Bed Number" class="form-control"></input>
        <input type="text" name="dob" placeholder="Date of Birth" class="form-control"></input>
        <input type="text" name="pin" placeholder="PIN" class="form-control"><input>
        
    </div>
</form>

<% include ../footer %>
