<% include ../header %>

<button class="btn">foo</button>
<form method="post" role="form">
    <div class="form-group">
        <div class='form-group'>
        	<label for="first">First</label>
        	<input type="text" name="first" placeholder= "First Name" class="form-control">
        </div>
        <div class='form-group'>
        	<label for="last">Last</label>
        	<input type="text" name="last" placeholder="Last Name" class="form-control">
        </div>
        <div class='form-group'>
        	<label for="bed">Bed</label>
        	<input type="text" name="bed" placeholder="Bed Number" class="form-control">
        </div>
        <div class='form-group'>
        	<label for="dob">Date of Birth</label>
        	<input type="text" name="dob" placeholder="Date of Birth" class="form-control">
        </div>
        <div class='form-group'>
        	<label for="pin">pin</label>
        	<input type="password" name="pin" placeholder="PIN" class="form-control">
        </div>

    </div>
</form>

<% include ../footer %>
