<form type="post">
    <input type="text" name="first" placeholder= "First Name">
    <input type="text" name="last" placeholder="Last Name">
    <input type="text" name="bed" placeholder="Bed Number">
    <input type="text" name="dob" placeholder="Date of Birth">
    <input type="text" name="pin" placeholder="PIN">
</form>
